:host {
  --slider-px: calc(0.01 * var(--main-tile-width));
  width: 100%;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(28 * var(--slider-px));
  border-radius: calc(10 * var(--slider-px));
  text-align: left;

  &:hover > .slider > .sign {
    opacity: 1;
  }

  .slider {
    position: absolute;
    left: calc(13 * var(--slider-px));
    right: calc(15 * var(--slider-px));
    height: calc(14 * var(--slider-px));

    .inverse-left {
      position: absolute;
      left: 0;
      height: calc(14 * var(--slider-px));
      border-top-left-radius: calc(10 * var(--slider-px));
      border-bottom-left-radius: calc(10 * var(--slider-px));
      background-color: var(--colour-button-bg-unchecked);
    }

    .inverse-right {
      position: absolute;
      right: 0;
      height: calc(14 * var(--slider-px));
      border-top-right-radius: calc(10 * var(--slider-px));
      border-bottom-right-radius: calc(10 * var(--slider-px));
      background-color: var(--colour-button-bg-unchecked);
    }

    .range {
      position: absolute;
      left: 0;
      height: calc(14 * var(--slider-px));
      background-color: var(--colour-button-bg);
    }

    .thumb {
      position: absolute;
      top: calc(-7 * var(--slider-px));
      z-index: 2;
      height: calc(28 * var(--slider-px));
      width: calc(28 * var(--slider-px));
      text-align: left;
      margin-left: calc(-12.5 * var(--slider-px));
      cursor: pointer;
      box-shadow: 0 calc(3 * var(--slider-px)) calc(8 * var(--slider-px)) rgba(0, 0, 0, 0.4);
      background-color: var(--colour-button-bg);
      border-radius: 50%;
      outline: none;
    }

    .sign {
      opacity: 0;
      position: absolute;
      z-index:3;
      background-color: #1ABC9C;
      color: #fff;
      margin-left: calc(-26 * var(--slider-px));
      top: calc(-74 * var(--slider-px));
      width: calc(56 * var(--slider-px));
      height: calc(56 * var(--slider-px));
      border-radius: calc(56 * var(--slider-px));
      align-items: center;
      justify-content: center;
      text-align: center;

      .sign-text {
        font-size: calc(24 * var(--slider-px));
        line-height: calc(56 * var(--slider-px));
      }
    }

    .sign:after {
      position: absolute;
      content: '';
      left: 0;
      border-radius: calc(16 * var(--slider-px));
      top: calc(38 * var(--slider-px));
      border-left: calc(28 * var(--slider-px)) solid transparent;
      border-right: calc(28 * var(--slider-px)) solid transparent;
      border-top-width: calc(32 * var(--slider-px));
      border-top-style: solid;
      border-top-color: #1ABC9C;
    }
  }

  input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: calc(14 * var(--slider-px));
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    &::-ms-track {
      -webkit-appearance: none;
      background: transparent;
      color: transparent;
    }

    &::-moz-range-track {
      -moz-appearance: none;
      background: transparent;
      color: transparent;
    }

    &:focus::-webkit-slider-runnable-track {
      background: transparent;
      border: transparent;
    }

    &:focus {
      outline: none;
    }

    &::-ms-thumb {
      pointer-events: all;
      width: calc(28 * var(--slider-px));
      height: calc(28 * var(--slider-px));
      border-radius: 0;
      border: 0 none;
      background: red;
    }

    &::-moz-range-thumb {
      pointer-events: all;
      width: calc(28 * var(--slider-px));
      height: calc(28 * var(--slider-px));
      border-radius: 0;
      border: 0 none;
      background: red;
    }

    &::-webkit-slider-thumb {
      pointer-events: all;
      width: calc(28 * var(--slider-px));
      height: calc(28 * var(--slider-px));
      border-radius: 0;
      border: 0 none;
      background: red;
      -webkit-appearance: none;
    }

    &::-ms-fill-lower {
      background: transparent;
      border: 0 none;
    }

    &::-ms-fill-upper {
      background: transparent;
      border: 0 none;
    }

    &::-ms-tooltip {
      display: none;
    }
  }
}

