:host {
  --slider-px: calc(0.008 * var(--main-tile-width));
  --slider-inverse-bg-colour: rgb(131, 136, 156);
  --slider-inverse-border-colour: rgb(100, 100, 100);
  --slider-range-bg-colour: var(--colour-button-bg);
  --slider-range-border-colour: rgb(100, 100, 100);
  --slider-thumb-colour: var(--colour-button-bg);
  --slider-sign-bg-colour: rgb(40, 44, 159);
  --slider-sign-text-colour: white;

  width: 100%;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(28 * var(--slider-px));
  border-radius: calc(10 * var(--slider-px));
  text-align: left;

  &:hover > .slider > .sign {
    opacity: 1;
  }

  .slider {
    position: absolute;
    left: calc(13 * var(--slider-px));
    right: calc(15 * var(--slider-px));
    height: calc(14 * var(--slider-px));
    box-shadow: 0 0 calc(0.3 * var(--main-tile-width)) calc(-0.05 * var(--main-tile-width)) rgba(0,0,0,0.5);

    .inverse-left {
      position: absolute;
      left: 0;
      height: calc(14 * var(--slider-px));
      border-top-left-radius: calc(10 * var(--slider-px));
      border-bottom-left-radius: calc(10 * var(--slider-px));
      background-color: var(--slider-inverse-bg-colour);
      border: thin solid var(--slider-inverse-border-colour);
    }

    .inverse-right {
      position: absolute;
      right: 0;
      height: calc(14 * var(--slider-px));
      border-top-right-radius: calc(10 * var(--slider-px));
      border-bottom-right-radius: calc(10 * var(--slider-px));
      background-color: var(--slider-inverse-bg-colour);
      border: thin solid var(--slider-inverse-border-colour);
    }

    .range {
      position: absolute;
      left: 0;
      height: calc(14 * var(--slider-px));
      background-color: var(--slider-range-bg-colour);
      border: thin solid var(--slider-range-border-colour);
    }

    .thumb {
      position: absolute;
      top: calc(-11 * var(--slider-px));
      z-index: 2;
      height: calc(36 * var(--slider-px));
      width: calc(36 * var(--slider-px));
      text-align: left;
      margin-left: calc(-16.5 * var(--slider-px));
      cursor: pointer;
      box-shadow: 0 0 calc(0.3 * var(--main-tile-width)) calc(-0.05 * var(--main-tile-width)) rgba(0,0,0,0.5);
      background-color: var(--slider-thumb-colour);
      border-radius: calc(0.1 * var(--main-tile-width)) calc(0.1 * var(--main-tile-width));
      border: thin solid white;
    }

    .sign {
      opacity: 0;
      position: absolute;
      z-index:3;
      background-color: var(--slider-sign-bg-colour);
      color: var(--slider-sign-text-colour);
      margin-left: calc(-26 * var(--slider-px));
      top: calc(-74 * var(--slider-px));
      width: calc(56 * var(--slider-px));
      height: calc(56 * var(--slider-px));
      border-radius: calc(56 * var(--slider-px));
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .sign-text {
        font-size: calc(24 * var(--slider-px));
        line-height: calc(24 * var(--slider-px));
      }
    }

    .sign:after {
      position: absolute;
      content: '';
      left: 0;
      border-radius: calc(16 * var(--slider-px));
      top: calc(38 * var(--slider-px));
      border-left: calc(28 * var(--slider-px)) solid transparent;
      border-right: calc(28 * var(--slider-px)) solid transparent;
      border-top-width: calc(32 * var(--slider-px));
      border-top-style: solid;
      border-top-color: var(--slider-sign-bg-colour);
    }
  }

  input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: calc(14 * var(--slider-px));
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    &::-ms-track {
      -webkit-appearance: none;
      background: transparent;
      color: transparent;
    }

    &::-moz-range-track {
      -moz-appearance: none;
      background: transparent;
      color: transparent;
    }

    &:focus::-webkit-slider-runnable-track {
      background: transparent;
      border: transparent;
    }

    &:focus {
      outline: none;
    }

    &::-ms-thumb {
      pointer-events: all;
      width: calc(28 * var(--slider-px));
      height: calc(28 * var(--slider-px));
      border-radius: 0;
      border: 0 none;
      background: red;
    }

    &::-moz-range-thumb {
      pointer-events: all;
      width: calc(28 * var(--slider-px));
      height: calc(28 * var(--slider-px));
      border-radius: 0;
      border: 0 none;
      background: red;
    }

    &::-webkit-slider-thumb {
      pointer-events: all;
      width: calc(28 * var(--slider-px));
      height: calc(28 * var(--slider-px));
      border-radius: 0;
      border: 0 none;
      background: red;
      -webkit-appearance: none;
    }

    &::-ms-fill-lower {
      background: transparent;
      border: 0 none;
    }

    &::-ms-fill-upper {
      background: transparent;
      border: 0 none;
    }

    &::-ms-tooltip {
      display: none;
    }
  }
}

