:host {
  color: white;

  .tile-hint {
    width: var(--main-tile-width);
    display: flex;
    flex-direction: column;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    outline: 1px solid var(--background-colour);

    &.colours-on-bottom {
      flex-direction: column-reverse;
    }

    .tile-hint-colours {
      display: flex;

      .tile-hint-colour {
        height: calc(1/6 * var(--main-tile-width));
        width: 100%;
        opacity: 0.2;
        border: 3px solid var(--background-colour);
        border-radius: 50%;

        &.colour-white {
          background-color: var(--colour-white);
        }

        &.colour-red {
          background-color: var(--colour-red);
        }

        &.colour-yellow {
          background-color: var(--colour-yellow);
        }

        &.colour-green {
          background-color: var(--colour-green);
        }

        &.colour-blue {
          background-color: var(--colour-blue);
        }

        &.colour-rainbow {
          background-image: linear-gradient(var(--tile-rainbow-angle), var(--colour-red), var(--colour-yellow), var(--colour-green), var(--colour-blue));
        }

        &.is-chosen {
          border: 3px solid white;
        }

        &.is-possible {
          opacity: 1;
        }
      }
    }

    .tile-hint-numbers {
      display: flex;

      .tile-hint-number {
        height: calc(0.2 * var(--main-tile-width));
        width: 100%;

        font-size: calc(0.15 * var(--main-tile-width));
        line-height: calc(0.17 * var(--main-tile-width));
        text-align: center;
        opacity: 0.2;
        border: 3px solid var(--background-colour);
        border-radius: 50%;

        &.is-chosen {
          border: 3px solid white;
        }

        &.is-possible {
          opacity: 1;
        }
      }

    }
  }
}
