<h1>Hints</h1>
<h2>Colours </h2>
<ul>
  <li *ngIf="includedColours.length === 0">Included: none</li>
  <li *ngIf="includedColours.length > 0">Included: {{ includedColours.join(', ') }}</li>
  <li *ngIf="excludedColours.length === 0">Excluded: none</li>
  <li *ngIf="excludedColours.length > 0">Excluded: {{ excludedColours.join(', ') }}</li>
</ul>
<h2>Numbers</h2>
<ul>
  <li *ngIf="includedNumbers.length === 0">Included: none</li>
  <li *ngIf="includedNumbers.length > 0">Included: {{ includedNumbers.join(', ') }}</li>
  <li *ngIf="excludedNumbers.length === 0">Excluded: none</li>
  <li *ngIf="excludedNumbers.length > 0">Excluded: {{ excludedNumbers.join(', ') }}</li>
</ul>

<h1>Deductions</h1>
<h2>Possible Colours</h2>
<ul>
  <li *ngFor="let colour of possibleColours">{{ colour }}</li>
</ul>
<h2>Possible Numbers</h2>
<ul>
  <li *ngFor="let number of possibleNumbers">{{ number }}</li>
</ul>
