<div class="discarded-tiles-headings">
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
  </div>
</div>
<div class="discarded-tiles-container">
  <div class="discarded-tiles">
    <app-tile [displayMode]="'discarded'" *ngFor="let tile of fiveTiles" [tile]="tile"></app-tile>
  </div>
  <div class="discarded-tiles">
    <app-tile [displayMode]="'discarded'" *ngFor="let tile of fourTiles" [tile]="tile"></app-tile>
  </div>
  <div class="discarded-tiles">
    <app-tile [displayMode]="'discarded'" *ngFor="let tile of threeTiles" [tile]="tile"></app-tile>
  </div>
  <div class="discarded-tiles">
    <app-tile [displayMode]="'discarded'" *ngFor="let tile of twoTiles" [tile]="tile"></app-tile>
  </div>
  <div class="discarded-tiles">
    <app-tile [displayMode]="'discarded'" *ngFor="let tile of oneTiles" [tile]="tile"></app-tile>
  </div>
</div>
<div class="discarded-tiles-headings">
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
  </div>
</div>
