<div class="discarded-tiles-headings">
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading">
    <div class="info-dot"></div>
  </div>
</div>
<div class="discarded-tiles-container">
    <div class="discarded-tiles" *ngFor="let index of [4, 3, 2, 1, 0]">
      <app-tile [displayMode]="'discarded'"
                [isChosen]="chosenTile && chosenTile.id === tile.id"
                [isClickable]="false"
                *ngFor="let tile of displayedTiles[index]" [tile]="tile"></app-tile>
    </div>
</div>
<div class="discarded-tiles-headings">
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
    <div class="info-dot"></div>
  </div>
  <div class="discarded-tiles-heading reverse">
    <div class="info-dot"></div>
  </div>
</div>
