<div class="discarded-tiles">
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
</div>
<div class="discarded-tiles">
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
</div>
<div class="discarded-tiles">
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
</div>
<div class="discarded-tiles">
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
</div>
<div class="discarded-tiles">
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
  <div class="discarded-tile"></div>
</div>
