<div class="page" [ngClass]="{
                               'is-show-page': !isHidden,
                               'is-anim-on-show': isAnimOnShow
                             }">
  <app-tile-group id="partner-tile-group"
                  [displayMode]="'partner'"
                  [playerName]="partnerName"
                  [hand]="hands.partnerHand"
                  [isGroupChosen]="isPartnerTilesChosen"
                  [chosenColour]="partnerTileHintChosen.colour"
                  [chosenNumber]="partnerTileHintChosen.number"
                  [isShowHints]="isShowPartnerHints"
                  (tileHintClicked)="onPartnerTileHintClicked($event)"
                  (tileClicked)="onPartnerTileClicked($event)"></app-tile-group>

  <div class="middle-container">
    <div class="token-container">
      <app-info-tokens [tokensRemaining]="infoTokens"></app-info-tokens>
      <app-fuse-tokens [tokensRemaining]="fuseTokens"></app-fuse-tokens>
    </div>
    <div class="middle-tiles">
      <app-tile-group [displayMode]="'played'"
                      [chosenTile]="chosenTile"
                      [tiles]="displayedPlayedTiles"></app-tile-group>
      <app-discarded-tiles [tiles]="discardedTiles"
                           [chosenTile]="chosenTile"></app-discarded-tiles>
    </div>
    <div class="menu-and-deck-container">
      <app-menu-button (buttonClicked)="onMenuButtonClicked()"></app-menu-button>
      <app-deck [remainingTiles]="remainingTiles"></app-deck>
    </div>
  </div>

  <app-tile-group id="player-tile-group"
                  [displayMode]="'player'"
                  [playerName]="playerName"
                  [hand]="hands.playerHand"
                  [chosenTile]="chosenTile"
                  [chosenColour]="playerTileHintChosen.colour"
                  [chosenNumber]="playerTileHintChosen.number"
                  [isShowHints]="isShowPlayerHints"
                  [isDraggingEnabled]="true"
                  (tileHintClicked)="onPlayerTileHintClicked($event)"
                  (tileClicked)="onPlayerTileClicked($event)"
                  (tileLongPressed)="onPlayerTileLongPressed($event)"></app-tile-group>

</div>
<div class='board-hidden-overlay' [ngClass]="{ 'is-show-hidden-overlay': isHidden }"></div>

<app-guide [guideOptions]="guideOptions"
           (cancelButtonClicked)="onGuideCancelButtonClicked()"></app-guide>
