<app-modal id="main-menu-modal"
           [isOpen]="isOpen"
           [position]="'rock-bottom'"
           [isFullScreen]="false">
  <div *ngIf="sf.isEnabled"
       [ngClass]="{
                  'full-screen-button':      !sf.isFullscreen,
                  'full-screen-exit-button':  sf.isFullscreen
                }"
       (click)="toggleFullScreen()"></div>
  <div class="main-menu-container">
    <app-logo></app-logo>
    <div class="player-names-container">
      <div class="player-name" (click)="onPlayerOneClicked($event)">{{ playerNameOne }}</div>
      <div class="versus">&</div>
      <div class="player-name" (click)="onPlayerTwoClicked($event)">{{ playerNameTwo }}</div>
    </div>
    <div class="button" (click)="onStartButtonClicked()">Start</div>
  </div>
  <app-background></app-background>
</app-modal>
<app-keyboard *ngIf="isShowPlayerOneKeyboard"
              [inputValue]="playerNameOne"
              (enterKeyClicked)="onPlayerOneKeyboardEnterClicked($event)"></app-keyboard>
<app-keyboard *ngIf="isShowPlayerTwoKeyboard"
              [inputValue]="playerNameTwo"
              (enterKeyClicked)="onPlayerTwoKeyboardEnterClicked($event)"></app-keyboard>
