<app-modal id="in-game-menu-modal"
           [isOpen]="isOpen">
  <div class="modal-body">
    <div class="in-game-menu-container">
      <app-button data-automation-id="guideButton" (buttonClicked)="onGuideButtonClicked()">Guide</app-button>
      <app-button data-automation-id="quitButton" (buttonClicked)="onQuitButtonClicked()">Quit</app-button>
      <app-button data-automation-id="continueButton" (buttonClicked)="onContinueButtonClicked()">Continue</app-button>
    </div>
  </div>
</app-modal>
