.pyrotechnics {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;

  &.is-show {
    display: flex;
    opacity: 1;
    transition: opacity ease 0.4s;
    animation: grow-pyrotechnics 0.3s forwards;
  }

  .back-button-container {
    position: absolute;
    top: calc(0.1 * var(--played-tile-width));
    left: calc(0.1 * var(--played-tile-width));
  }

  .menu-button-container {
    position: absolute;
    top: calc(0.1 * var(--played-tile-width));
    right: calc(0.1 * var(--played-tile-width));
  }

  .burst {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .particle-container {

      .particle {
        --particle-bg-percent-end: 90%;

        position: absolute;
        width: calc(0.5 * var(--played-tile-width));
        height: calc(0.05 * var(--played-tile-width));
        animation: move-particle ease-out 10s forwards;
        border-top-right-radius: calc(0.025 * var(--played-tile-width));
        border-bottom-right-radius: calc(0.025 * var(--played-tile-width));
        opacity: 0;

        &.blue {
          background: linear-gradient(90deg, transparent 60%, var(--colour-blue) var(--particle-bg-percent-end));
        }

        &.red {
          background: linear-gradient(90deg, transparent 60%, var(--colour-red) var(--particle-bg-percent-end));
        }

        &.white {
          background: linear-gradient(90deg, transparent 60%, var(--colour-white) var(--particle-bg-percent-end));
        }

        &.yellow {
          background: linear-gradient(90deg, transparent 60%, var(--colour-yellow) var(--particle-bg-percent-end));
        }

        &.green {
          background: linear-gradient(90deg, transparent 60%, var(--colour-green) var(--particle-bg-percent-end));
        }
      }

      @keyframes move-particle {
        0%   {
          opacity: 1;
          transform: scale(1);
        }
        30% {
          opacity: 0.2;
        }
        100% {
          opacity: 0;
          transform: translateX(calc(3 * var(--played-tile-width))) scale(6);
        }
      }
    }
  }
}

.form-field {
  width: 100%;

  .form-field-label {
    font-size: calc(0.2 * var(--played-tile-width));
    line-height: calc(0.2 * var(--played-tile-width));
    text-align: center;
    margin-bottom: calc(0.1 * var(--played-tile-width));
  }
}

.form-field + .form-field {
  margin-top: calc(0.3 * var(--played-tile-width));
}

@keyframes grow-pyrotechnics {
  0%   { transform: scale(0.8) }
  100% { transform: scale(1)   }
}
