<div class="pyrotechnics" [ngClass]="{ 'is-show' : !isHidden }">
  <div *ngFor="let burst of bursts" class="burst">
    <div *ngFor="let i of [].constructor(burst.numParticles); index as j;"
         class="particle-container"
         [ngStyle]="getParticleContainerTransform(burst, j)">
      <div class="particle" [ngClass]="{
                                         'blue':   burst.colour === 'blue',
                                         'red':    burst.colour === 'red',
                                         'white':  burst.colour === 'white',
                                         'green':  burst.colour === 'green',
                                         'yellow': burst.colour === 'yellow'
                                       }"
                            [ngStyle]="getParticleAnimationDelay(burst, j)"></div>
    </div>
  </div>
  <div class="back-button-container">
    <app-back-button (buttonClicked)="onBackButtonClicked()">&lt;</app-back-button>
  </div>
  <div class="menu-button-container">
    <app-menu-button (buttonClicked)="onMenuButtonClicked()"></app-menu-button>
  </div>
</div>
<app-modal id="pyrotechnics-menu-modal" (cancelled)="onMenuModalClosed()">
  <div class="modal-body">
    <div class="modal-heading">Pyrotechnics</div>
    <div class="form-container">
      <div class="form-field">
        <div class="form-field-label">Colours</div>
        <app-multi-select-colour [selectedColours]="burstOptions.colours" (coloursSelected)="onColoursSelected($event)"></app-multi-select-colour>
      </div>
      <div class="form-field">
        <div class="form-field-label">Bursts [{{ burstOptions.numBursts.lowerBound}} - {{ burstOptions.numBursts.upperBound}}]</div>
        <app-range-slider (valuesChanged)="onBurstRangeChanged($event)"
                          [min]="1" [max]="50"
                          [values]="{ lowerValue: burstOptions.numBursts.lowerBound, upperValue: burstOptions.numBursts.upperBound }"></app-range-slider>
      </div>
      <div class="form-field">
        <div class="form-field-label">Particles [{{ burstOptions.numParticles.lowerBound}} - {{ burstOptions.numParticles.upperBound}}]</div>
        <app-range-slider (valuesChanged)="onParticleRangeChanged($event)"
                          [min]="1" [max]="50"
                          [values]="{ lowerValue: burstOptions.numParticles.lowerBound, upperValue: burstOptions.numParticles.upperBound }"></app-range-slider>
      </div>
      <div class="form-field">
        <div class="form-field-label">Delay (Secs) [{{ delayValueDisplayFn(burstOptions.delayInTenthsOfSecs.lowerBound) }} - {{ delayValueDisplayFn(burstOptions.delayInTenthsOfSecs.upperBound) }}]</div>
        <app-range-slider (valuesChanged)="onDelayRangeChanged($event)"
                          [min]="0" [max]="100"
                          [valueDisplayFn]="delayValueDisplayFn"
                          [values]="{ lowerValue: burstOptions.delayInTenthsOfSecs.lowerBound, upperValue: burstOptions.delayInTenthsOfSecs.upperBound }"></app-range-slider>
      </div>
    </div>
  </div>
</app-modal>
