:root {
    --main-tile-width: 20vw;

    --middle-tiles-flex-direction: column;

    --played-tile-width: 10vw;
    --played-tiles-width: calc(6 * var(--played-tile-width));
    --played-tiles-height: var(--played-tile-width);
    --played-tiles-flex-direction: row;

    --discarded-tiles-height: 1vw;
    --discarded-tiles-width: calc(6 * var(--played-tile-width));
    --discarded-tiles-margin: 1vw 0 0 0;
    --discarded-tiles-flex-direction: row;
}

body {
    overflow: hidden;
    margin: 0;
}
.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--main-tile-width) 1fr var(--main-tile-width);
    height: 100vh;
    width: 100vw;
    grid-gap: 0;
    justify-items: center;
}
.partners-tiles {
    height: 100%;
    width: calc(5 * var(--main-tile-width));
    display: flex;
}
.my-tiles {
    height: 100%;
    width: calc(5 * var(--main-tile-width));
    display: flex;
}
.cell {
    height: 100%;
    width: 100%;
    background-color: white;
    outline: 1px solid black;
}
.discarded-cell {
    height: 100%;
    width: 100%;
    background-color: white;
    outline: 1px solid black;
}
.middle-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.token-container {
    display: flex;
    flex-direction: column;
}
.info-tokens {
    height: var(--played-tile-width);
    width: var(--played-tile-width);
    outline: 1px solid black;
}
.fuse-tokens {
    height: var(--played-tile-width);
    width: var(--played-tile-width);
    outline: 1px solid black;
}
.middle-tiles {
    display: flex;
    flex-direction: var(--middle-tiles-flex-direction);
    justify-content: center;
    align-items: center;
}
.played-tiles {
    height: var(--played-tiles-height);
    width: var(--played-tiles-width);
    display: flex;
    flex-direction: var(--played-tiles-flex-direction);
}
.discarded-tiles {
    margin: var(--discarded-tiles-margin);
    height: var(--discarded-tiles-height);
    width: var(--discarded-tiles-width);
    display: flex;
    flex-direction: var(--discarded-tiles-flex-direction);
}
.remaining-tiles {
    height: var(--played-tile-width);
    width: var(--played-tile-width);
    outline: 1px solid black;
}
@media (min-height:150vw) and (orientation: portrait) {
    :root {
        --middle-tiles-flex-direction: row;

        --played-tile-width: 16.67vw;
        --played-tiles-width: var(--played-tile-width);
        --played-tiles-height: calc(6 * var(--played-tile-width));
        --played-tiles-flex-direction: column;

        --discarded-tiles-margin: 0 0 0 2vw;
        --discarded-tiles-height: calc(6 * var(--played-tile-width));
        --discarded-tiles-width: 2vw;
        --discarded-tiles-flex-direction: column;
    }
}

@media (min-width:120vh) and (orientation: landscape) {
    :root {
        --main-tile-width: 10vw;

        --played-tile-width: 9vw;

        --discarded-tiles-height: 0.8vw;
        --discarded-tiles-margin: 0.5vw 0 0 0;
    }
}
