body {
    box-sizing: border-box;

}
div {
    /*outline: 1px solid red;*/
}
.page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-auto-flow: column;*/
    /*display: flex;*/
    justify-content: center;
    /*width: 500px;*/
    flex-wrap: wrap;
}
.tile {
    min-height: 80px;
    min-width: 80px;
    padding: 5px;
    /*margin: 5px 5px 0 5px;*/
    /*border: 1px solid black;*/
    background-color: black;
    display: grid;
    /*grid-gap: 0;*/
    /*grid-gap: 10px;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
}
.tile-white .explosion {
    background-color: rgb(255, 255, 255);
}
.tile-red .explosion {
    background-color: rgb(230, 30, 30);
}
.tile-blue .explosion {
    background-color: rgb(80, 180, 250);
}
.tile-yellow .explosion {
    background-color: rgb(230, 180, 0);
}
.tile-green .explosion {
    background-color: rgb(80, 230, 80);
}
.tile-rainbow .explosion {
    background-image: linear-gradient(rgb(230, 30, 30), rgb(230, 180, 0), rgb(80, 230, 80), rgb(80, 180, 250));
    /*background-color: rgb(80, 230, 80);*/
}
.explosion {
    display: inline-block;
    min-height: 25px;
    min-width: 25px;
    margin: 2px;
}
.explosion-middle {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.explosion-top-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.explosion-top-right {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.explosion-bottom-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.explosion-bottom-right {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
