:host {

  --colour-ish-percentage: 1%;

  .tile-half-overlay {

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: calc(0.64 * var(--main-tile-width)) calc(0.95 * var(--main-tile-width)) 0 0;
    }

    &.tile-half-red:before {
      border-color: var(--colour-red) transparent transparent transparent;
    }

    &.tile-half-white:before {
      border-color: var(--colour-white) transparent transparent transparent;
    }

    &.tile-half-green:before {
      border-color: var(--colour-green) transparent transparent transparent;
    }

    &.tile-half-blue:before {
      border-color: var(--colour-blue) transparent transparent transparent;
    }

    &.tile-half-yellow:before {
      border-color: var(--colour-yellow) transparent transparent transparent;
    }
  }

  .tile {
    height: calc(0.7 * var(--main-tile-width));
    width: calc(1 * var(--main-tile-width));
    padding: calc(0.05 * var(--main-tile-width)) calc(0.1 * var(--main-tile-width));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    opacity: 0.9;
    border: 4px solid var(--background-colour);
    position: relative;
    overflow: hidden;

    &.is-overlay-shown {
      border: 4px solid white;
    }

    &.is-overlay-shown:after {
      content: '';
      top: 0;
      left: 0;
      will-change: transform;
      transform: translateY(-100%);
      width: 100%;
      height: calc(0.7 * var(--main-tile-width));
      position: absolute;
      z-index: 50;
      animation: slide 1.6s infinite;
      background-image: linear-gradient(to top,
                          rgba(255, 255, 255, 0) 0%,
                          rgba(255, 255, 255, 0.5) 45%,
                          rgba(255, 255, 255, 1) 50%,
                          rgba(255, 255, 255, 0.5) 55%,
                          rgba(4, 5, 41, 0) 100%);
    }
    &.is-overlay-shown.tile-played:after {
      height: var(--main-tile-width);
    }

    @keyframes slide {
      0% { transform: translateY(-100%); }
      100% { transform: translateY(100%); }
    }

    &.is-clickable {
      // TODO workout why this causes the tile to flash when clicked
      //cursor: pointer;
    }

    &.tile-played {
      height: calc(1 * var(--played-tile-width));
      width: calc(1 * var(--played-tile-width));
      padding: calc(0.1 * var(--played-tile-width));

      &.tile-empty {
        opacity: 0.2;
      }
    }

    &.tile-discarded {
      width: var(--discarded-tile-width);
      height: var(--discarded-tile-height);
      padding: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.4);

      &.is-overlay-shown {
        box-shadow: 0 0 5px 5px white;
      }
    }
    &.tile-discarded-one {
      width: var(--discarded-tile-one-width);
      height: var(--discarded-tile-one-height);
    }

    &.tile-discarded-five {
      width: var(--discarded-tile-five-width);
      height: var(--discarded-tile-five-height);
    }

    &.tile-unknown-colour {
      background-color: rgba(255, 255, 255, 0.3);

      .explosion {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    &.tile-red {
      background-color: var(--colour-red);
    }
    &.tile-red-ish {
      background-image: linear-gradient(var(--colour-red) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-white {
      background-color: var(--colour-white);
    }
    &.tile-white-ish {
      background-image: linear-gradient(var(--colour-white) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-blue {
      background-color: var(--colour-blue);
    }
    &.tile-blue-ish {
      background-image: linear-gradient(var(--colour-blue) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-yellow {
      background-color: var(--colour-yellow);
    }
    &.tile-yellow-ish {
      background-image: linear-gradient(var(--colour-yellow) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-green {
      background-color: var(--colour-green);
    }
    &.tile-green-ish {
      background-image: linear-gradient(var(--colour-green) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-rainbow {
      background-image: linear-gradient(var(--tile-rainbow-angle), var(--colour-red), var(--colour-yellow), var(--colour-green), var(--colour-blue));
    }
    &.tile-half-rainbow {
      background-image: linear-gradient(var(--tile-rainbow-angle), var(--colour-red), var(--colour-yellow), var(--colour-green), var(--colour-blue));
    }
    &.tile-unknown-number {
      height: calc(0.7 * var(--main-tile-width));
      width: var(--main-tile-width);
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .question-mark {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
    }
    .question-mark:after {
      content: '?';
      color: rgba(255, 255, 255, 0.1);
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      font-size: calc(0.6 * var(--main-tile-width));
      line-height: calc(0.6 * var(--main-tile-width));
      font-weight: bold;
    }

    .explosion {
      display: inline-block;
      height: 90%;
      width: 90%;
      margin: 5%;
      z-index: 100;
      background-color: rgba(100, 100, 100, 0.2);
      border: 2px solid rgb(0, 0, 0);

      &.explosion-middle {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
      }
      &.explosion-top-left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      &.explosion-top-right {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      &.explosion-bottom-left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
      }
      &.explosion-bottom-right {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
      }
    }

  }

}
