<app-tile-hint *ngIf='displayMode === "player"'
               [chosenColour]="(chosenColour && tile.colour === 'rainbow') || chosenColour === tile.colour ? chosenColour:null"
               [chosenNumber]="chosenNumber === tile.number ? chosenNumber:null"
               [includedColours]="tile.hints.includedColours"
               [excludedColours]="tile.hints.excludedColours"
               [includedNumbers]="tile.hints.includedNumbers"
               [excludedNumbers]="tile.hints.excludedNumbers"></app-tile-hint>
<div class='tile' (click)="onTileClicked()"
    [ngClass]="{
    'is-overlay-shown':    isChosen,
    'is-clickable':        isClickable,
    'tile-played':         displayMode === 'played',
    'tile-discarded':      displayMode === 'discarded',
    'tile-discarded-one':  displayMode === 'discarded' && tile.number === 1,
    'tile-discarded-five': displayMode === 'discarded' && tile.number === 5,
    'tile-empty':         (displayMode === 'played' && tile.number === null) || (displayMode === 'discarded' && tile.colour === null),
    'tile-unknown-number': displayMode === 'player' && tile.possibleNumbers.length > 1,
    'tile-unknown-colour': displayMode === 'player' && tile.possibleColours.length > 1,
    'tile-red':           (displayMode !== 'player' || tile.possibleColours.length === 1) && tile.colour === 'red',
    'tile-white':         (displayMode !== 'player' || tile.possibleColours.length === 1) && tile.colour === 'white',
    'tile-blue':          (displayMode !== 'player' || tile.possibleColours.length === 1) && tile.colour === 'blue',
    'tile-yellow':        (displayMode !== 'player' || tile.possibleColours.length === 1) && tile.colour === 'yellow',
    'tile-green':         (displayMode !== 'player' || tile.possibleColours.length === 1) && tile.colour === 'green',
    'tile-rainbow':       (displayMode !== 'player' || tile.possibleColours.length === 1) && tile.colour === 'rainbow'
  }">
  <div *ngIf='displayMode === "player" && tile.possibleNumbers.length > 1' class="question-mark"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 1' class="explosion explosion-middle"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 2' class="explosion explosion-top-left"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 2' class="explosion explosion-bottom-right"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 3' class="explosion explosion-top-left"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 3' class="explosion explosion-middle"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 3' class="explosion explosion-bottom-right"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 4' class="explosion explosion-top-left"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 4' class="explosion explosion-top-right"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 4' class="explosion explosion-bottom-left"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 4' class="explosion explosion-bottom-right"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 5' class="explosion explosion-top-left"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 5' class="explosion explosion-top-right"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 5' class="explosion explosion-middle"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 5' class="explosion explosion-bottom-left"></div>
  <div *ngIf='(displayMode !== "player" || tile.possibleNumbers.length === 1) && displayMode !== "discarded" && tile.number === 5' class="explosion explosion-bottom-right"></div>
</div>
<app-tile-hint *ngIf='displayMode === "partner"'
               [isColoursOnBottom]="true"
               [chosenColour]="(chosenColour && tile.colour === 'rainbow') || chosenColour === tile.colour ? chosenColour:null"
               [chosenNumber]="chosenNumber === tile.number ? chosenNumber:null"
               [includedColours]="tile.hints.includedColours"
               [excludedColours]="tile.hints.excludedColours"
               [includedNumbers]="tile.hints.includedNumbers"
               [excludedNumbers]="tile.hints.excludedNumbers"></app-tile-hint>
