:host {

  --colour-ish-percentage: 1%;

  font-family: Arial, Helvetica, sans-serif;
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
    opacity: 0;
    pointer-events: none;

    &.is-overlay-shown {
      animation: pulsate 2s linear infinite;
    }
  }

  .tile {
    height: calc(0.6 * var(--main-tile-width));
    width: calc(0.8 * var(--main-tile-width));
    padding: calc(0.05 * var(--main-tile-width)) calc(0.1 * var(--main-tile-width));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    opacity: 0.9;
    outline: 2px solid var(--background-colour);

    &.tile-played {
      height: calc(0.8 * var(--played-tile-width));
      width: calc(0.8 * var(--played-tile-width));
      padding: calc(0.1 * var(--played-tile-width));

      &.tile-empty {
        opacity: 0.2;
      }
    }

    &.tile-discarded {
      width: var(--discarded-tile-width);
      height: var(--discarded-tile-height);
      padding: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
      outline: 1px solid rgba(255, 255, 255, 0.4);
    }
    &.tile-discarded-one {
      width: var(--discarded-tile-one-width);
      height: var(--discarded-tile-one-height);
    }

    &.tile-discarded-five {
      width: var(--discarded-tile-five-width);
      height: var(--discarded-tile-five-height);
    }

    &.tile-unknown-colour {
      background-color: rgb(50, 50, 50);
    }

    &.tile-red {
      background-color: var(--colour-red);
    }
    &.tile-red-ish {
      background-image: linear-gradient(var(--colour-red) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-white {
      background-color: var(--colour-white);

      .explosion {
        background-color: rgb(0, 0, 0);
        outline: 1px solid rgb(255, 255, 255);
      }
      .question-mark:after {
        color: rgb(0, 0, 0);
      }
    }
    &.tile-white-ish {
      background-image: linear-gradient(var(--colour-white) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-blue {
      background-color: var(--colour-blue);
    }
    &.tile-blue-ish {
      background-image: linear-gradient(var(--colour-blue) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-yellow {
      background-color: var(--colour-yellow);
    }
    &.tile-yellow-ish {
      background-image: linear-gradient(var(--colour-yellow) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-green {
      background-color: var(--colour-green);
    }
    &.tile-green-ish {
      background-image: linear-gradient(var(--colour-green) var(--colour-ish-percentage), rgb(0, 0, 0), rgb(0, 0, 0));
    }
    &.tile-rainbow {
      background-image: linear-gradient(var(--tile-rainbow-angle), var(--colour-red), var(--colour-yellow), var(--colour-green), var(--colour-blue));
    }
    &.tile-unknown-number {
      height: calc(0.7 * var(--main-tile-width));
      width: var(--main-tile-width);
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .question-mark {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .question-mark:after {
      content: '?';
      color: rgb(255, 255, 255);
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      font-size: calc(0.6 * var(--main-tile-width));
      line-height: calc(0.6 * var(--main-tile-width));
      font-weight: bold;
    }

    .explosion {
      display: inline-block;
      height: 90%;
      width: 90%;
      margin: 5%;
      background-color: white;
      outline: 1px solid rgb(0, 0, 0);

      &.explosion-middle {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
      }
      &.explosion-top-left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      &.explosion-top-right {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      &.explosion-bottom-left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
      }
      &.explosion-bottom-right {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
      }
    }

  }

}
