.fireworks-splash {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;

  .fireworks-rainbow-text {
    height: 100%;
    font-size: calc(1/8 * 100vw);
    line-height: calc(1/8 * 100vw);
    font-weight: bold;
    position: absolute;
    top: 20vh;

    background-image: linear-gradient(to right, var(--colour-red), var(--colour-yellow), var(--colour-green), var(--colour-blue));
    -webkit-background-clip: text;
    color: transparent;
  }

  .star-background {
    width: 110%;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: calc(-0.25 * var(--main-tile-width));
    left: calc(-0.25 * var(--main-tile-width));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    animation: side-to-side ease-in-out 3s alternate-reverse infinite;

    animation-delay: -2s;

    .star {
      font-size: calc(0.5 * var(--main-tile-width));
      line-height: calc(1 * var(--main-tile-width));
      font-weight: bold;
      text-align: center;
      width: calc(1 * var(--main-tile-width));

      opacity: 0.05;

      &.star-sparkle {
        animation: sparkle ease-in-out 4s alternate infinite;
      }
    }

    &.background-2 {
      animation-delay: -1s;

      .star {
        font-size: calc(0.75 * var(--main-tile-width));
        line-height: calc(1.25 * var(--main-tile-width));
        width: calc(1.25 * var(--main-tile-width));
      }
    }

    &.background-3 {
      animation-delay: 0s;
      .star {
        font-size: calc(1.3 * var(--main-tile-width));
        line-height: calc(1.5 * var(--main-tile-width));
        width: calc(1.5 * var(--main-tile-width));
      }
    }
  }

  @keyframes side-to-side {
    0%   { transform: translateX(calc(-0.25 * var(--main-tile-width))) }
    100% { transform: translateX(calc(0.25 * var(--main-tile-width))) }
  }

  @keyframes sparkle {
    0%   { opacity: 0 }
    100% { opacity: 0.5 }
  }
}

.modal-body {
  font-size: calc(0.5 * var(--main-tile-width));
  line-height: calc(0.5 * var(--main-tile-width));

  padding: calc(0.25 * var(--main-tile-width));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(64, 59, 92, 0.76);

  .modal-heading {
    margin-bottom: calc(0.1 * var(--main-tile-width));
  }

  .info {
    color: rgba(255, 255, 255, 0.6);
    font-size: calc(0.4 * var(--main-tile-width));
    line-height: calc(0.5 * var(--main-tile-width));
    margin-top: calc(0.3 * var(--main-tile-width));
    text-align: center;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .colour-options {
      display: flex;

      .colour-option {
        width: calc(0.6 * var(--main-tile-width));
        height: calc(0.6 * var(--main-tile-width));
        margin: calc(0.05 * var(--main-tile-width));
        cursor: pointer;

        &.red {
          background-color: var(--colour-red);
        }

        &.yellow {
          background-color: var(--colour-yellow);
        }

        &.green {
          background-color: var(--colour-green);
        }

        &.blue {
          background-color: var(--colour-blue);
        }

        &.white {
          background-color: var(--colour-white);
        }
      }
    }

    .number-options {
      display: flex;

      .number-option {
        width: calc(0.6 * var(--main-tile-width));
        height: calc(0.6 * var(--main-tile-width));
        font-size: calc(0.4 * var(--main-tile-width));
        line-height: calc(0.6 * var(--main-tile-width));
        outline: 1px solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        margin: calc(0.05 * var(--main-tile-width));
        cursor: pointer;
      }
    }

  }

  .button-container {
    display: flex;

    .button {
      border: 1px solid rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.1);
      padding: calc(0.1 * var(--main-tile-width));
      margin: calc(0.1 * var(--main-tile-width));
      cursor: pointer;
    }
  }

  .turn-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: calc(0.4 * var(--main-tile-width));
    line-height: calc(0.5 * var(--main-tile-width));
    margin-top: calc(0.3 * var(--main-tile-width));
    text-align: center;
  }
}
