<app-board [playerTiles]="playerTiles"
           [partnerTiles]="partnerTiles"
           [playedTiles]="playedTiles"
           [discardedTiles]="discardedTiles"
           [remainingTiles]="remainingTiles.length"
           [infoTokens]="infoTokens"
           [fuseTokens]="fuseTokens"
           (partnerTileClicked)="onPartnerTileClicked($event)"
           (playerTileClicked)="onPlayerTileClicked($event)">
</app-board>
<app-modal id="player-ready-modal" [isFullScreen]="true" [isOpen]="true">
  <div class="modal-body">
    <div *ngIf="!isGameOver" class="modal-heading">{{ playerNames[currentPlayer] }}'s Turn</div>
    <div *ngIf="!isGameOver" class="button-container">
      <div class="button" (click)="onPlayerReadyButtonClicked()">Ready</div>
    </div>
    <div *ngIf="isGameOver" class="modal-heading">GAME OVER</div>
    <div *ngIf="isGameOver" class="button-container">
      <div class="button" (click)="onPlayerReadyButtonClicked()">New Game</div>
    </div>
    <div class="turn-info">{{ turnInfo }}</div>
  </div>
</app-modal>
<app-modal id="end-of-turn-modal">
  <div class="modal-body">
    <div class="modal-heading">Move Taken</div>
    <div class="button-container">
      <div class="button" (click)="onEndOfTurnButtonClicked()">OK</div>
    </div>
  </div>
</app-modal>
<app-modal id="partner-tile-modal" [isOpen]="false">
  <div class="modal-body">
    <div class="modal-heading">Give Hint</div>
    <div *ngIf="infoTokens === 0" class="info">There are no hint tokens available</div>
    <div *ngIf="infoTokens > 0" class="options-container">
      <div class="colour-options">
        <div class="colour-option"
             *ngFor="let colour of partnerHintColourOptions"
             [ngClass]="colour"
             (click)="onColourHintButtonClicked(colour)"></div>
      </div>
      <div class="number-options">
        <div class="number-option"
             *ngFor="let number of partnerHintNumberOptions"
             (click)="onNumberHintButtonClicked(number)">{{number}}</div>
      </div>
    </div>
  </div>
</app-modal>
<app-modal id="player-tile-modal" [isOpen]="false">
  <div class="modal-body">
    <div class="modal-heading">{{ playerTileModalHeading }}</div>
    <div class="button-container">
      <div class="button" (click)="onPlayTileButtonClicked()">Play</div>
      <div class="button" (click)="onDiscardTileButtonClicked()" *ngIf="infoTokens !== 8">Discard</div>
    </div>
  </div>
</app-modal>
