<app-board [isHidden]="gameState.isHideBoard"
           [hands]="gameState.hands"
           [playedTiles]="gameState.playedTiles"
           [chosenTile]="gameState.chosenTile"
           [isPartnerTilesChosen]="gameState.isPartnerTilesChosen"
           [partnerTileHintChosen]="gameState.partnerTileHintChosen"
           [playerTileHintChosen]="gameState.playerTileHintChosen"
           [discardedTiles]="gameState.discardedTiles"
           [remainingTiles]="gameState.remainingTiles.length"
           [infoTokens]="gameState.infoTokens"
           [fuseTokens]="gameState.fuseTokens"
           [isShowPartnerHints]="gameState.isShowPartnerHints"
           [isShowPlayerHints]="gameState.isShowPlayerHints"
           [partnerName]="playerNames[gameState.waitingPlayer]"
           [playerName]="playerNames[gameState.currentPlayer]"
           (partnerTileHintClicked)="onPartnerTileHintClicked()"
           (playerTileHintClicked)="onPlayerTileHintClicked()"
           (partnerTileClicked)="onPartnerTileClicked()"
           (playerTileClicked)="onPlayerTileClicked($event)"
           (playerTileLongPressed)="onPlayerTileLongPressed($event)"
           (menuButtonClicked)="onMenuButtonClicked()">
</app-board>

<app-main-menu-modal [playerNameOne]="playerNames[0]"
                     [playerNameTwo]="playerNames[1]"
                     (startButtonClicked)="onStartButtonClicked($event)"></app-main-menu-modal>

<app-modal id="player-ready-modal" [isFullScreen]="false">
  <div class="modal-body no-background">
    <div *ngIf="!gameState.isGameOver && gameState.turnInfo.isNotEmpty()" class="swap-player">
      <div class="circle"></div>
      <div class="arrow-heads"></div>
      <div class="player"></div>
    </div>
    <div *ngIf="!gameState.isGameOver" class="modal-heading">{{ playerNames[gameState.currentPlayer] }}</div>
    <div *ngIf="!gameState.isGameOver" class="button" (click)="onPlayerReadyButtonClicked()">Ready</div>
    <div *ngIf="gameState.isGameOver" class="modal-heading">{{ gameState.gameOverHeading }}</div>
    <div *ngIf="gameState.isGameOver" class="button" (click)="onNewGameButtonClicked()">New Game</div>
    <div *ngIf="gameState.turnInfoText !== ''" class="turn-info">{{ gameState.turnInfoText }}</div>
  </div>
  <app-background [theme]="gameState.isGameOver && !gameState.isGameWon ? 'lost':'standard'"></app-background>
</app-modal>

<app-modal id="start-of-turn-modal" (cancelled)="onStartOfTurnModalCancelled()">
  <div class="modal-body">
    <div class="modal-heading">{{ playerNames[gameState.waitingPlayer] }}</div>
    <app-turn-info [turnInfo]="gameState.turnInfo"></app-turn-info>
    <div class="button" (click)="onStartOfTurnButtonClicked()">Ok</div>
  </div>
</app-modal>

<app-modal id="end-of-turn-modal" (cancelled)="onEndOfTurnModalCancelled()">
  <div class="modal-body">
    <app-turn-info [turnInfo]="gameState.turnInfo"></app-turn-info>
    <div class="button" (click)="onEndOfTurnButtonClicked()">Done</div>
  </div>
</app-modal>

<app-modal id="partner-tile-modal"
           [position]="'top'"
           (cancelled)="onPartnerTileModalCancelled()">
  <div class="modal-body top-margin">
    <div class="modal-heading">Give Hint</div>
    <div *ngIf="gameState.infoTokens === 0" class="info">There are no hint tokens available</div>
    <div *ngIf="gameState.infoTokens > 0" class="options-container">
      <div class="colour-options">
        <div class="colour-option"
             *ngFor="let colour of partnerHintColourOptions"
             [ngClass]="colour"
             (click)="onColourHintButtonClicked(colour)"></div>
      </div>
      <div class="number-options">
        <div class="number-option"
             *ngFor="let number of partnerHintNumberOptions"
             (click)="onNumberHintButtonClicked(number)">{{number}}</div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="player-tile-modal"
           [position]="'bottom'"
           (cancelled)="onPlayerTileModalCancelled()">
  <div class="modal-body">
    <div *ngIf="gameState.infoTokens === 8" class="button" (click)="onPlayTileButtonClicked()">Play</div>
    <div class="button-container" *ngIf="gameState.infoTokens !== 8">
      <div class="button" (click)="onPlayTileButtonClicked()">Play</div>
      <div class="button" (click)="onDiscardTileButtonClicked()">Discard</div>
    </div>
  </div>
</app-modal>

<app-marking-modal [tileMarkModalData]="tileMarkModalData"
                   (tileMarkSelected)="onPlayTileMarkButtonClicked($event)"
                   (modalClosed)="onPlayerTileMarkModalCancelled()"></app-marking-modal>

<app-in-game-menu-modal (quitButtonClicked)="onQuitButtonClicked()"></app-in-game-menu-modal>

<app-modal id="quit-game-modal">
  <div class="modal-body">
    <div class="modal-heading">Quit?</div>
    <div class="button-container">
      <div class="button" data-automation-id="yesButton" (click)="onQuitGameYesButtonClicked()">Yes</div>
      <div class="button" data-automation-id="noButton" (click)="onQuitGameNoButtonClicked()">No</div>
    </div>
  </div>
</app-modal>
