<div class="logo-container">
  <div class="fireworks-rainbow-text">
      <div class="letter-smallest">F</div>
      <div class="letter-small">I</div>
      <div class="letter-medium">R</div>
      <div class="letter-large">E</div>
      <div class="rockets-container">
        <div class="rocket-left">
          <app-rocket [rocketType]="'blue'"></app-rocket>
        </div>
        <div class="rocket-middle">
          <app-rocket [rocketType]="'red'"></app-rocket>
        </div>
        <div class="rocket-right">
          <app-rocket [rocketType]="'green'"></app-rocket>
        </div>
      </div>
    <div class="letter-large">O</div>
    <div class="letter-medium">R</div>
    <div class="letter-small">K</div>
    <div class="letter-smallest">S</div>
  </div>
</div>
