.logo-container {
  --played-tile-width:calc(1/8 * 100vw);

  height: calc(1.6 * var(--played-tile-width));

  .fireworks-rainbow-text {
    display: flex;
    font-size: calc(1/8 * 100vw);
    line-height: calc(1/8 * 100vw);
    font-weight: bold;
    text-align: center;
    position: relative;
    top: calc(0.5 * var(--played-tile-width));
    height: calc(1.2 * var(--played-tile-width));

    background-image: linear-gradient(to right, var(--colour-red), var(--colour-yellow), var(--colour-green), var(--colour-blue));
    -webkit-background-clip: text;
    color: transparent;

    .capital-letter {
      font-size: calc(1/6 * 100vw);
    }

    .rockets-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: calc(0.02 * var(--played-tile-width));

      .rocket-left {
        transform: translateX(calc(0.2 * var(--played-tile-width))) translateY(calc(0.13 * var(--played-tile-width))) rotate(-15deg) scaleX(-1);
      }

      .rocket-middle {
        transform: scale(1.1)
      }

      .rocket-right {
        transform: translateX(calc(-0.2 * var(--played-tile-width))) translateY(calc(0.13 * var(--played-tile-width))) rotate(15deg);
        z-index: -10;
      }
    }
  }

}
