<div class="logo-container">
  <div class="fireworks-rainbow-text">
      <div class="capital-letter">F</div>
      <div>IRE</div>
      <div class="rockets-container">
        <div class="rocket-left">
          <app-rocket [rocketType]="'blue'"></app-rocket>
        </div>
        <div class="rocket-middle">
          <app-rocket [rocketType]="'red'"></app-rocket>
        </div>
        <div class="rocket-right">
          <app-rocket [rocketType]="'green'"></app-rocket>
        </div>
      </div>
      <div>ORKS</div>
  </div>
</div>
