<div class="rocket-container">
  <div class="rocket-cone">
    <div class="rocket-cone-main"></div>
    <div class="rocket-cone-base"></div>
  </div>
  <div class="rocket-body">
    <div class="rocket-body-top"></div>
    <div class="rocket-body-main"></div>
    <div class="rocket-body-base"></div>
    <div class="rocket-body-stripe-container">
      <div class="rocket-body-stripe">
        <div class="rocket-body-stripe-top"></div>
        <div class="rocket-body-stripe-main"></div>
        <div class="rocket-body-stripe-base"></div>
      </div>
      <div class="rocket-body-stripe">
        <div class="rocket-body-stripe-top"></div>
        <div class="rocket-body-stripe-main"></div>
        <div class="rocket-body-stripe-base"></div>
      </div>
      <div class="rocket-body-stripe">
        <div class="rocket-body-stripe-top"></div>
        <div class="rocket-body-stripe-main"></div>
        <div class="rocket-body-stripe-base"></div>
      </div>
    </div>
  </div>
</div>
