<div class="page" [ngClass]="{ 'is-show-page': !isHidden }">
  <app-tile-group [displayMode]="'partner'"
                  [tiles]="partnerTiles"
                  [isGroupChosen]="isPartnerTilesChosen"
                  [chosenColour]="partnerTileHintChosen.colour"
                  [chosenNumber]="partnerTileHintChosen.number"
                  [isShowHints]="isShowPartnerHints"
                  (tileHintClicked)="onPartnerTileHintClicked($event)"
                  (tileClicked)="onPartnerTileClicked($event)"></app-tile-group>

  <div class="middle-container">
    <div class="token-container">
      <app-info-tokens [tokensRemaining]="infoTokens"></app-info-tokens>
      <app-fuse-tokens [tokensRemaining]="fuseTokens"></app-fuse-tokens>
    </div>
    <div class="middle-tiles">
      <app-tile-group [displayMode]="'played'"
                      [chosenTile]="chosenTile"
                      [tiles]="displayedPlayedTiles"></app-tile-group>
      <app-discarded-tiles [tiles]="discardedTiles"
                           [chosenTile]="chosenTile"></app-discarded-tiles>
    </div>
    <app-deck [remainingTiles]="remainingTiles"
              (clicked)="onDeckClicked($event)"></app-deck>
  </div>

  <app-tile-group [displayMode]="'player'"
                  [tiles]="playerTiles"
                  [chosenTile]="chosenTile"
                  [chosenColour]="playerTileHintChosen.colour"
                  [chosenNumber]="playerTileHintChosen.number"
                  [isShowHints]="isShowPlayerHints"
                  (tileHintClicked)="onPlayerTileHintClicked($event)"
                  (tileClicked)="onPlayerTileClicked($event)"></app-tile-group>

  <app-background [isSparkling]="false"></app-background>
</div>
<div class='board-hidden-overlay' [ngClass]="{ 'is-show-hidden-overlay': isHidden }"></div>
