/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Bungee-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
}
body {
  overflow: hidden;
  margin: 0;
  background-color: var(--background-colour);
}

:root {
  --background-colour: rgb(4, 5, 41);

  --colour-tile-back: rgb(68, 79, 120);

  --colour-white: rgba(255, 255, 255);
  --colour-red: rgb(255, 119, 116);
  --colour-blue: rgb(80, 180, 250);
  --colour-yellow: rgb(250, 248, 54);
  --colour-green: rgb(80, 230, 80);

  --colour-white-faded: rgba(255, 255, 255, 0.2);
  --colour-red-faded: rgba(246, 52, 52, 0.2);
  --colour-blue-faded: rgba(80, 180, 250, 0.2);
  --colour-yellow-faded: rgba(250, 248, 54, 0.2);
  --colour-green-faded: rgba(80, 230, 80, 0.2);

  --main-tile-width: 20vw;

  --middle-tiles-flex-direction: column;
  --tile-rainbow-angle: 90deg;

  --played-tile-width: 10vw;
  --played-tiles-flex-direction: row;

  --discarded-tiles-host-flex-direction: var(--middle-tiles-flex-direction);
  --discarded-tiles-margin: 0.5vw 0.5vw 0 0.5vw;
  --discarded-tiles-flex-direction: row;

  --discarded-tile-five-height: 1vw;
  --discarded-tile-five-width: 10vw;
  --discarded-tile-height: 1vw;
  --discarded-tile-width: 5vw;
  --discarded-tile-one-height: 1vw;
  --discarded-tile-one-width: 3.33vw;
  --discarded-tile-info-dot-width: 1vw;
  --discarded-tile-info-dot-margin: 0 0.2vw 0 0.2vw;

  --keyboard-key-width: 7.5vw;

  --player-names-container-padding: 50vh calc(1/40 * 100vw) 40vh calc(1/40 * 100vw);
  --player-name-font-size: calc(1/22 * 100vw);
  --player-vs-font-size: calc(1/20 * 100vw);
  --player-vs-padding: calc(1/50 * 100vw);
}

@media (min-height:150vw) and (orientation: portrait) {
  :root {
    --middle-tiles-flex-direction: row;

    --played-tile-width: 16.67vw;
    --played-tiles-flex-direction: column;

    --discarded-tile-five-height: 16.67vw;
    --discarded-tile-five-width: 2vw;
    --discarded-tile-height: 8.335vw;
    --discarded-tile-width: 2vw;
    --discarded-tile-one-height: 5.59vw;
    --discarded-tile-one-width: 2vw;
    --discarded-tile-info-dot-width: 2vw;
    --discarded-tile-info-dot-margin: 0.8vw 0 0.8vw 0;

    --discarded-tiles-margin: 0.5vw 0 0.5vw 0.5vw;
    --discarded-tiles-flex-direction: column;

    --player-names-container-padding: 10vh calc(1/10 * 100vw) 0 calc(1/10 * 100vw);
    --player-name-font-size: calc(1/14 * 100vw);
    --player-vs-font-size: calc(1/12 * 100vw);
    --player-vs-padding: calc(1/20 * 100vw);
  }
}

@media (min-width:120vh) and (orientation: landscape) {
  :root {
    --main-tile-width: 10vw;

    --played-tile-width: 9vw;

    --discarded-tile-five-height: 0.8vw;
    --discarded-tile-five-width: 9vw;
    --discarded-tile-height: 0.8vw;
    --discarded-tile-width: 4.5vw;
    --discarded-tile-one-height: 0.8vw;
    --discarded-tile-one-width: 3vw;
    --discarded-tile-info-dot-width: 0.8vw;
    --discarded-tile-info-dot-margin: 0 0.15vw 0 0.15vw;

    --discarded-tiles-margin: 0.5vw 0.25vw 0 0.25vw;

    --keyboard-key-width: 6vw;
  }
}

.modal-body {
  font-size: calc(0.5 * var(--main-tile-width));
  line-height: calc(0.5 * var(--main-tile-width));

  padding: calc(0.25 * var(--main-tile-width));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(77, 80, 139, 0.53),rgba(77, 80, 139, 1),rgba(77, 80, 139, 0.53));

  &.no-background {
    background-image: unset;
    background-color: unset;
  }

  .modal-heading {
    margin-bottom: calc(0.3 * var(--main-tile-width));
  }

  .info {
    color: rgba(255, 255, 255, 0.6);
    font-size: calc(0.4 * var(--main-tile-width));
    line-height: calc(0.5 * var(--main-tile-width));
    margin-top: calc(0.3 * var(--main-tile-width));
    text-align: center;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .colour-options {
      display: flex;

      .colour-option {
        width: calc(0.6 * var(--main-tile-width));
        height: calc(0.6 * var(--main-tile-width));
        margin: calc(0.05 * var(--main-tile-width));
        cursor: pointer;
        border: 1px solid black;

        &.red {
          background-color: var(--colour-red);
        }

        &.yellow {
          background-color: var(--colour-yellow);
        }

        &.green {
          background-color: var(--colour-green);
        }

        &.blue {
          background-color: var(--colour-blue);
        }

        &.white {
          background-color: var(--colour-white);
        }
      }
    }

    .number-options {
      display: flex;

      .number-option {
        width: calc(0.6 * var(--main-tile-width));
        height: calc(0.6 * var(--main-tile-width));
        font-size: calc(0.4 * var(--main-tile-width));
        line-height: calc(0.6 * var(--main-tile-width));
        outline: 1px solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        margin: calc(0.05 * var(--main-tile-width));
        cursor: pointer;
      }
    }

  }

  .button-container {
    display: flex;

    .button+.button {
      margin-left: calc(0.1 * var(--main-tile-width));
    }
  }

  .button {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    padding: calc(0.1 * var(--main-tile-width));
    cursor: pointer;
  }

  .turn-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: calc(0.4 * var(--main-tile-width));
    line-height: calc(0.5 * var(--main-tile-width));
    margin-top: calc(0.3 * var(--main-tile-width));
    text-align: center;
  }
}
