<app-modal id="marking-modal"
           [isOpen]="isOpen"
           [position]="'bottom'"
           (cancelled)="onCancelled()">
  <div class="modal-body">
    <div class="modal-heading">Marking</div>
    <div class="radio-group">
      <label *ngFor="let tileMark of [TileMark.None, TileMark.Save, TileMark.Play]"
             for="option-{{ tileMark }}"
             [ngClass]="{ 'is-selected' : isSelected(tileMark) }">
        {{ tileMark }}
        <input
          type="radio"
          name="selector"
          id="option-{{ tileMark }}"
          [(ngModel)]="tileMarkModalData.chosenTileMark"
          [value]="tileMark"
          (click)="onSelection(tileMark)">
      </label>
    </div>
  </div>
</app-modal>
