<div class="slider-container">
  <div class="slider">
    <div class="inverse-left" [ngStyle]="{ width: modelData.inverseLeft.width }"></div>
    <div class="inverse-right" [ngStyle]="{ width: modelData.inverseRight.width }"></div>
    <div class="range" [ngStyle]="{
                                    left: modelData.range.left,
                                    right: modelData.range.right
                                  }"></div>
    <span class="thumb" [ngStyle]="{ left: modelData.thumbLeft.left }"></span>
    <span class="thumb" [ngStyle]="{ left: modelData.thumbRight.left }"></span>
    <div class="sign" [ngStyle]="{ left: modelData.signLeft.left }">
      <div class="sign-text">{{ modelData.lowerValue }}</div>
    </div>
    <div class="sign" [ngStyle]="{ left: modelData.signRight.left }">
      <div class="sign-text">{{ modelData.upperValue }}</div>
    </div>
  </div>
  <input type="range"
         tabindex="0"
         min="{{ modelData.min }}"
         max="{{ modelData.max }}"
         step="1"
         [(ngModel)]="modelData.lowerValue"
         (input)="onLowerValueChanged($event)"/>
  <input type="range"
         tabindex="0"
         min="{{ modelData.min }}"
         max="{{ modelData.max }}"
         step="1"
         [(ngModel)]="modelData.upperValue"
         (input)="onUpperValueChanged($event)"/>
</div>
